<% include header %>

<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Kullanıcılar</h1>
    <a href="/admin/dashboard" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-download fa-sm text-white-50"></i> Kullanıcı Ekle</a>
  </div>
  <!-- Page Heading -->
  <table id="userSettings" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>E-mail</th>
        <th>Admin</th>
        <th>İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>Edinburgh</td>
        <td><a href="#" class="btn btn-info btn-circle">
            <i class="fas fa-info-circle"></i>
          </a>
          <a href="#" class="btn btn-warning btn-circle">
            <i class="fas fa-exclamation-triangle"></i>
          </a>
          <a href="#" class="btn btn-danger btn-circle">
            <i class="fas fa-trash"></i>
          </a></td>
      </tr>
      <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>Edinburgh</td>
        <td><a href="#" class="btn btn-info btn-circle">
            <i class="fas fa-info-circle"></i>
          </a>
          <a href="#" class="btn btn-warning btn-circle">
            <i class="fas fa-exclamation-triangle"></i>
          </a>
          <a href="#" class="btn btn-danger btn-circle">
            <i class="fas fa-trash"></i>
          </a></td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>E-mail</th>
        <th>Admin</th>
        <th>İşlemler</th>
      </tr>
    </tfoot>
  </table>

</div>




<!-- /.container-fluid -->

<% include footer %>

<script>
  $(document).ready(function () {
    $('#userSettings').DataTable();
  });
</script>